.head-pict{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0.1)), url('../image/bktpur.jpg');
    height: 35vh;
    width: 99%;
    margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;

}
.head-pict p{
    font-size: 45px;
    color: white;
    margin:140px 70px 50px 70px;
}
.head-pict a:hover{
	transform:scale(1.1);
	opacity:1;
}
.follow p{
	font-size: 30px;
	border: orangered;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.follow{
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 70px;
	margin-left: 500px;
}
.iconss{
	float: left;
	margin: 0px 0px 0px 10px;

}
.fa {
	padding: 20px;
	font-size: 100px;
	width: 50px;
	text-align: center;
	text-decoration: none;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  .fa-instagram {
	background:  #bc2a8d;
	color: white;
  }
  .fa-google {
	background: #dd4b39;
	color: white;