{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home page
{% endblock %}

{% block css %}
	 
{% endblock %}

{% block nav-bar %}
    <ul>
		<a href="{% url 'bmg_app:home'%}"> <li><span>Home</span></li></a>
		<a href="{% url 'destination:findaguide'%}"> <li>Find a Guide</li></a>
		<a href="{% url 'destination:trekandtour'%}"> <li>Tour and Treks</li></a>
		<a href="{% url 'bmg_app:ourservice'%}"> <li>Our Services</li></a>
		<a href="{% url 'bmg_app:whyus'%}"> <li>Why Us?</li></a>
		<a href="{% url 'bmg_app:store'%}"> <li>Store</li></a>
		{%if 'id' in request.session%}
		<a href="{%  url 'user:logout' %}"> <li> Log Out</li></a>
		{%endif%}
		{% block login%}
		{%if 'id' not in request.session%}
			<a href="{% url 'user:login'%}"> <li><i class="fas fa-user"></i> Login</li></a>
			<a href="{% url 'user:signup_guide'%}"> <li>Register ?</li></a>
		{%endif%}
		{% endblock %}
		<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </ul>
{% endblock %}

{% block media_content %}
<div class="head">

	<div class="head-pic" style="background-image: url('media/image/wall.jpg');">
		<div class="search">
	<div class="search-box">
		<i class="fas fa-search"></i>
		<form action="" method="POST">
			{% csrf_token %}
			<input type="text" placeholder="Search.." name="name">
			<a href="{% url 'destination:trekandtour' %}"><button type="submit">Search</button>></a>
		</form>
	</div>
</div>

	</div>
</div>
<hr>
{% endblock %}

